.bottom-bar {
  --height: 50px;

  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  position: fixed;
  color: #6a7384;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  height: var(--height);
  background: #f7f9fc;
  box-sizing: border-box;
  line-height: var(--height);
  border-top: 1px solid #e1e5f0;
}