.confirm-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(50, 60, 75, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 300;
}

.confirm-popup-content {
  background: #fff;
  padding: 24px 28px;
  border-radius: 12px;
  box-shadow: 0 6px 32px rgba(32, 80, 170, 0.18);
  min-width: 240px;
  max-width: 94vw;
  text-align: center;
}

.confirm-popup-text {
  font-size: 1.6rem;
  margin-bottom: 18px;
  color: #213547;
}

.confirm-popup-btn {
  padding: 7px 16px;
  border-radius: 6px;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  margin: 0 6px;
}

.confirm-popup-cancel-btn {
  background: #d5d5d5;
  color: #333;
}

.confirm-popup-cancel-btn:hover {
  background: #b5b3b3;
}

.confirm-popup-confirm-btn {
  background: #fb2525;
  color: #fff;
}

.confirm-popup-confirm-btn:hover {
  background: #d21f1f;
}

/* Document Action */
.doc-action-btn {
  border: none;
  padding: 6px;
  display: flex;
  cursor: pointer;
  background: none;
  transition: .25s;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.doc-action-btn:hover {
  background: rgba(0, 0, 0, 0.05);
}

.doc-action-btn svg {
  width: 20px;
  height: 20px;
}

.doc-actions-menu {
  position: fixed;
  min-width: 140px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 12px rgba(32, 80, 170, 0.12);
}

.doc-actions-menu-item {
  min-width: 170px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.doc-actions-menu-item:last-child {
  color: #c82f2f;
}

.doc-actions-menu-item:hover {
  background: #f2f2f2;
}