.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile__page {
    display: flex;
}

.profile__taskbar {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    min-height: 100vh;
    background: linear-gradient(90deg, #1976d2 0%, #5eb3f6 100%);
}

.profile__avatar {
    position: relative;
    width: 130px;
    height: 135px;
    cursor: pointer;
}

.profile__images {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.profile__images::selection {
    background-color: transparent;
}

.profile__images::after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    content: "";
    top: 1.2px;
    left: 1.2px;
    width: 98%;
    height: 98%;
    background: transparent;
}

.profile__images:hover::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.profile__img {
    position: absolute;
    top: 1.2px;
    left: 1.2px;
    width: 98%;
    height: 98%;
    border-radius: 50%;
    object-fit: cover;
}

.profile__images:active .profile__img,
.profile__avatar:active .profile__images::after {
    transform: scale(0.9);
}

.profile__camera {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 9px;
    bottom: 5px;
    width: 3.6em;
    height: 3.6em;
    background: #e2e5e9;
    border-radius: 50%;
    font-size: 0.6rem;
    z-index: 1;
}

.profile__camera:hover {
    background: #ccc;
}

.profile__camera-icon {
    color: #1d1f23;
    width: 2.4em;
    height: 2.4em;
}

.profile-menu {
    position: absolute;
    top: 110%;
    left: -50%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    min-width: 344px;
    padding: 8px 0;
    cursor: default;
}
.profile-menu__item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background: transparent;
    border: none;
    padding: 8px;
    transition: 0.25s;
    text-align: left;
}

.profile-menu__btn {
    display: flex;
    column-gap: 12px;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.profile-menu__btn:hover {
    background: #f2f2f2;
}

.profile-menu__item::selection {
    background: transparent;
}

.profile-menu__icon {
    width: 20px;
    height: 20px;
}

.profile__name {
    width: 184px;
    color: #fff;
    white-space: wrap;
}

.profile__content {
    width: 100%;
    padding: 20px 50px;
}

.profile__heading {
    font-size: 2rem;
}

.profile__form {
    display: grid;
    column-gap: 40px;
    row-gap: 20px;
    grid-template-columns: 319px 189px;
}

.profile__label {
    cursor: text;
    font-size: 1.2rem;
}

.profile__cell {
    display: flex;
    flex-direction: column;
}

.profile__cell:first-child,
.profile__cell:nth-child(3) {
    max-width: 350px;
}

.profile__cell:nth-child(2),
.profile__cell:nth-child(4),
.profile__cell:last-child {
    max-width: 200px;
}

.profile__input {
    --height: 40px;

    padding: 4px 12px;
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: var(--height);
    line-height: var(--height);
    outline: none;
}

.profile__input:disabled {
    background: #ccc;
}

.profile__error {
    margin-top: 5px;
}

.profile__row {
    margin-top: 40px;
}

.profile__btn,
.profile__btn:active,
.profile__btn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.profile__btn {
    min-width: 110px;
    color: #fff;
    transition: 0.25s;
}

.profile__btn:hover {
    opacity: 0.9;
}

.profile__edit {
    background: #3e8cb9;
}

.profile__close {
    margin-left: 15px;
    background: #939292;
}
